* {
  box-sizing: border-box; }

body {
  background: radial-gradient(circle at 50% 10%, #1f3756, #141539);
  font-family: 'Barlow Semi Condensed', sans-serif;
  min-height: 100vh;
  color: #fff; }

.container {
  width: 600px;
  max-width: 100%;
  margin: 0 auto; }

.button:focus {
  outline: none; }

header {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  border: 3px solid #606e85;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 50px 0;
  align-items: center; }
  header h1 {
    font-size: 2rem;
    margin: 0;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    text-transform: uppercase; }
  header .score-container {
    background-color: #fff;
    padding: 20px 40px;
    text-align: center;
    border-radius: 10px; }
    header .score-container p {
      color: #3b4363;
      margin: 0;
      font-size: 3.5rem;
      font-weight: 700; }

h2 {
  letter-spacing: 2px;
  text-transform: uppercase; }

h4 {
  letter-spacing: 5px;
  color: #3b4363;
  margin: 0; }

main {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  margin: 0 auto;
  position: relative; }
  main::before {
    background-image: url("images/bg-triangle.svg");
    background-repeat: no-repeat;
    content: '';
    width: 70%;
    background-size: cover;
    height: 70%;
    top: 20%;
    left: 15%;
    position: absolute;
    z-index: -1; }

.btn-circle {
  border: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 -5px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: inset 0 -5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.3);
  height: 150px;
  width: 150px;
  margin: 0 25px;
  cursor: pointer; }
  .btn-circle:active {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); }
  .btn-circle .wrapper {
    -webkit-box-shadow: inset 0 -5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -5px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: inset 0 -5px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -5px rgba(0, 0, 0, 0.15);
    width: 120px;
    height: 120px;
    background-color: #fff;
    display: inline-flex;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    align-items: center;
    justify-content: center; }

.button:focus {
  outline: none; }

.btn-paper {
  background: linear-gradient(to bottom, #4865f4, #5671f5); }

.btn-scissors {
  background: linear-gradient(to bottom, #ec9e0e, #eca922); }

.btn-rock {
  background: linear-gradient(to bottom, #dc2e4e, #dd405d); }

.btn-rules {
  border: 2px solid #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  background-color: transparent;
  text-transform: uppercase;
  color: #fff;
  font-family: inherit;
  padding: 10px 25px;
  letter-spacing: 2px;
  font-size: 20px;
  position: fixed;
  right: 30px;
  bottom: 30px; }

.btn {
  border: 2px solid #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
  text-transform: uppercase;
  color: #3b4363;
  font-family: inherit;
  padding: 10px 25px;
  letter-spacing: 2px;
  font-size: 20px;
  right: 30px; }

.selection {
  /* display: none;*/
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1000px;
  max-width: 100%;
  margin: 0 auto; }
  .selection .btn-circle {
    margin: 50px 100px;
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4); }

.big-text {
  font-size: 2rem;
  margin: 0 0 20px;
  line-height: 1.3;
  text-transform: uppercase; }

.rules-modal {
  background-color: #fff;
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100; }
  .rules-modal button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 100px;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); }

@media (max-width: 800px) {
  .selection .btn-circle {
    margin: 50px 20px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .go-down {
    order: 1; }
  .selection {
    width: 500px; } }
